.c-headerMenu {
    svg {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        vertical-align: middle;
    }
    li {
        display: flex;
        padding: 10px 8px 10px 16px;
        div,
        a {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-weight: 600;
            flex: 1;
        }
        &:hover {
            background-color: #16182308;
        }
    }
}
