.l-header {
    $input-color: #161823;

    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    &__inner {
        height: 100%;
        padding: 0 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__searchBar {
        background-color: rgba($input-color, 0.06);
        padding: 10.5px 14.5px;
        border-radius: 92px;
        overflow: hidden;
        display: flex;
        border: 1.5px solid transparent;
        &:focus-within {
            border-color: rgba($input-color, 0.2);
        }
        input,
        button {
            background-color: transparent;
            border: none;
            outline: none;
        }
        button {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__txtInput {
        width: 252px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: var(--input-color);
        caret-color: var(--primary);
        appearance: textfield;
        cursor: text;
        &:not(:placeholder-shown) ~ .l-header__search svg {
            fill: rgba($input-color, 0.75);
        }
    }
    &__clear {
        width: 40px;
        visibility: hidden;
        pointer-events: none;
        &--show {
            visibility: visible;
            pointer-events: auto;
        }
    }
    &__border {
        display: inline-block;
        width: 1px;
        background-color: rgba($input-color, 0.12);
    }
    &__searchBar,
    &__searchResult {
        width: 361px;
    }
    &__searchArea {
        position: relative;
    }
    &__search {
        padding: 11px 16px 11px 12px;
        margin: -12px -16px;
        margin-left: 0;
        cursor: pointer;
        svg {
            fill: rgba($input-color, 0.34);
        }
        &:hover {
            background-color: rgba($input-color, 0.03);
        }
        &:active {
            background-color: rgba($input-color, 0.06);
        }
    }
    &__searchAccount {
        padding: 9px 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }
    &__searchAccountImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 12px 0 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__searchAccountInfo {
        line-height: 1;
        flex: 1;
        h5 {
            font-size: 1.6rem;
            line-height: 22px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            span {
                color: rgb(32, 213, 236);
                font-size: 1.4rem;
                margin-left: 8px;
            }
        }
        p {
            font-size: 1.4rem;
            color: rgba(22, 24, 35, 0.5);
        }
    }
}
