@font-face {
    font-family: SofiaPro;
    src: url(../../fonts/sofiapro-regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: SofiaPro;
    src: url(../../fonts/sofiapro-bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url(../../fonts/Proxima-Nova-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url(../../fonts/Proxima-Nova-Semibold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url(../../fonts/Proxima-Nova-Bold.woff2);
    font-weight: 700;
}

.l-container {
    width: var(--baseWidth);
    max-width: 100%;
    margin: 0 auto;
}
