@font-face {
    font-family: SofiaPro;
    src: local('SofiaPro-Regular'),
        url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-regular.woff)
            format('woff'),
        url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-regular.otf)
            format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: SofiaPro;
    src: local('SofiaPro-Medium'),
        url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-medium.woff)
            format('woff'),
        url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-medium.otf)
            format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: SofiaPro;
    src: local('SofiaPro-Semibold'),
        url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-semibold.otf)
            format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: SofiaPro;
    src: local('SofiaPro-Bold'),
        url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-bold.woff)
            format('woff'),
        url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-bold.otf)
            format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.l-container {
    width: var(--baseWidth);
    max-width: 100%;
    margin: 0 auto;
}
