@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

$mainFont: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;

// Color
:root {
    --baseWidth: 1150px;

    --primary: #fe2c55;
    --input-color: #161823;
}
